@font-face {
  font-family: JetbrainMonoNerdFont; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Regular.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontBold; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Bold.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontSemiBold; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-SemiBold.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontLight; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Light.ttf); /* url of the font */
}
body {
  background-color: #000000;
     color: #ffffff;
       font-family: JetbrainMonoNerdFont; 
}
p {
  font-family: JetbrainMonoNerdFontLight; 

}
h1{
  font-family: JetbrainMonoNerdFontBold; 

}
h2{
  font-family: JetbrainMonoNerdFontSemiBold; 

}

.TitleYellow {
  color: #ffd900;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF,
   0 0 20px #ffd900, 0 0 30px #ffd900,0 0 40px #ffd900,0 0 55px #ffd900,0 0 75px #ffd900;
color: #FFFFFF;
background: #000000;
}
.Link {
  color: #ffd900;
font-family: JetbrainMonoNerdFontSemiBold; 
underline: none;
}

.warning {
  color: #ff0000;
  font-family: JetbrainMonoNerdFontBold;
}
.home {
  color: #ffffff;
  font-family: JetbrainMonoNerdFontSemiBold;
}
.aboutme {
  color: #ffffff;
  font-family: JetbrainMonoNerdFontregular;
}

